In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("school.db")

In [3]:
cursor = con.cursor()

In [4]:
cursor.execute('create table student (Sno varchar(20) primary key,Sname varchar(20),Ssex varchar(8),Sage int,Sdept varchar(20))')

In [6]:
cursor.execute('insert into student (Sno, Sname, Ssex, Sage, Sdept) values (\'141070001\', \'帅\', \'男\', 20, \'信息管理\')')

In [7]:
cursor.rowcount

1

In [14]:
cursor.execute('select * from student')

In [15]:
values = cursor.fetchall()

In [16]:
values

[(141070001, '帅', '男', 20, '信息管理')]

In [20]:
type(values)

list

## 创建例题中的表

In [22]:
cursor.execute('insert into student (Sno, Sname, Ssex, Sage, Sdept) values (\'141070002\', \'爽\', \'女\', 19, \'信息管理\')')

In [23]:
cursor.execute('insert into student (Sno, Sname, Ssex, Sage, Sdept) values (\'141070003\', \'孔师傅\', \'男\', 21, \'金融\')')

In [25]:
cursor.execute('insert into student (Sno, Sname, Ssex, Sage, Sdept) values (\'141070004\', \'Maggie\', \'女\', 26, \'金融\')')

In [26]:
cursor.execute('insert into student (Sno, Sname, Ssex, Sage, Sdept) values (\'141070005\', \'文博\', \'男\', 21, \'计算机\')')

In [27]:
cursor.execute('insert into student (Sno, Sname, Ssex, Sage, Sdept) values (\'141070006\', \'宁姐\', \'男\', 20, \'计算机\')')

In [30]:
cursor.execute('create table course (Cno varchar(10) primary key,Cname varchar(20), Hours int)')

In [32]:
cursor.execute('insert into course (Cno, Cname, Hours) values (\'C01\', \'Python\',70)')

In [33]:
cursor.execute('insert into course (Cno, Cname, Hours) values (\'C02\', \'机器学习\',180)')

In [34]:
cursor.execute('insert into course (Cno, Cname, Hours) values (\'C03\', \'计算机网络\',90)')

In [35]:
cursor.execute('insert into course (Cno, Cname, Hours) values (\'C04\', \'数据结构\',100)')

In [36]:
cursor.execute('insert into course (Cno, Cname, Hours) values (\'C05\', \'运筹学\',80)')

In [37]:
cursor.execute('insert into course (Cno, Cname, Hours) values (\'C06\', \'管理信息系统\',60)')

In [41]:
cursor.execute('create table SC (Sno varchar(20),Cno varchar(20),Grade int)')

In [42]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070001\', \'C01\',90)')

In [43]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070001\', \'C02\',86)')

In [47]:
cursor.execute('insert into SC (Sno, Cno) values (\'141070001\', \'C06\')')

In [48]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070002\', \'C02\',78)')

In [49]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070001\', \'C04\',66)')

In [50]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070003\', \'C0101\',82)')

In [51]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070003\', \'C01\',82)')

In [52]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070003\', \'C02\',75)')

In [53]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070003\', \'C04\',92)')

In [54]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070002\', \'C05\',50)')

In [55]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070004\', \'C02\',68)')

In [56]:
cursor.execute('insert into SC (Sno, Cno) values (\'141070004\', \'C06\')')

In [57]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070005\', \'C01\',80)')

In [58]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070005\', \'C05\',95)')

In [59]:
cursor.execute('insert into SC (Sno, Cno, Grade) values (\'141070006\', \'C05\',85)')

In [62]:
cursor.execute('DELETE FROM SC WHERE Cno=\'C0101\'')

## 显示所有数据

In [63]:
cursor.execute("SELECT * FROM student")

In [64]:
values = cursor.fetchall()

In [65]:
values

[(141070001, '帅', '男', 20, '信息管理'),
 (141070002, '爽', '女', 19, '信息管理'),
 (141070003, '孔师傅', '男', 21, '金融'),
 (141070004, 'Maggie', '女', 26, '金融'),
 (141070005, '文博', '男', 21, '计算机'),
 (141070006, '宁姐', '男', 20, '计算机')]

In [66]:
cursor.execute("SELECT * FROM course")

In [67]:
values = cursor.fetchall()

In [68]:
values

[('C01', 'Python', 70),
 ('C02', '机器学习', 180),
 ('C03', '计算机网络', 90),
 ('C04', '数据结构', 100),
 ('C05', '运筹学', 80),
 ('C06', '管理信息系统', 60)]

In [70]:
cursor.execute("SELECT * FROM Sc")

In [71]:
values = cursor.fetchall()

### 经典例题

1.查询成绩在70到80分之间的学生的学号、课程号和成绩。

SELECT Sno, Cno, Grade

FROM SC

WHERE Grade BETWEEN 70 AND 80;
#### 反思

**不是 BETWEEN(70, 80)； 
SQL和Python编程是两种思维，sql则是由一个关键字和其后的数据构成的，比如 BETWEEN 后跟着数据对象(70 AND 80)**

2.查询C01号课程成绩最高的分数

SELECT GRADE

FROM SC

WHERE Cno='C01'

LIMIT 1

ORDER BY GRADE DESC;  ** -- ORDER BY 必须是 SELECT 语句最后一条子句 **

3.查询学生都选修了哪些课程,要求列出课程号。
特点：两表结合确定数据，但只显示一表的数据；

**解法一：**

SELECT Cname, Cno

FROM course

WHERE Cno IN (SELECT Cno FROM SC)

**解法二：**

SELECT DISTINCT Cname, course.Cno

FROM course

INNER JOIN SC

ON course.Cno=SC.Cno;

**反思：**

什么时候用JOIN什么时候用WHERE?

SELECT Cname, DISTINCT course.Cno 不符合语法；

4.查询修了C02号课程的所有学生的平均成绩、最高成绩和最低成绩

SELECT AVG(Grade), MAX(Grade), MIN(Grade)

FROM SC

WHERE Cno='C02';

5.统计每个系的学生人数

SELECT Sdept, COUNT(*) AS num

FROM student

GROUP BY Sdept;

反思：区别在哪里？

SELECT Sdept 系别,COUNT(*) 人数

FROM student 

WHERE Sdept IN(SELECT DISTINCT Sdept FROM student) 

GROUP BY Sdept

反思：

SELECT Ssex

FROM student

GROUP BY Sdept;

做什么样的操作？COUNT和GROUP BY的运行方式？

6.统计每门课程的修课人数和考试最高分

SELECT Cno, COUNT(*) AS NUM, MAX(Grade)

FROM SC

GROUP BY Cno;

反思：两表结合的操作!

SELECT Cname ,COUNT(*) ,MAX(Grade)

FROM SC,course

WHERE SC.Cno IN(SELECT DISTINCT Cno FROM SC ) AND course.Cno=SC.Cno

GROUP BY course.Cname

7.统计每个学生的选课门数,并按选课门数的递增顺序显示结果，同时显示学生的名字

特点：两表结合确定数据，但显示两表的数据；

SELECT Sname, student.Sno, COUNT(SC.Sno) Course_num

FROM student

INNER JOIN SC

ON student.Sno=SC.Sno

GROUP BY SC.Sno  -- 和GROUP BY student.Sname,student.Sno有什么不同？

ORDER BY Course_num;

反思：

1.什么时候用JOIN什么时候用WHERE?结合第三题。

2.用COUNT(*)是否会产生歧义？

8.统计选修课的学生总数和考试的平均成绩

每一门选修课总数：

SELECT Cname, COUNT(*) AS stu_num, AVG(Grade)

FROM course

INNER JOIN SC

ON course.Cno=SC.Cno

GROUP BY SC.Cno;

所有选修课总数：

特点：统计本表内去重后的数量；

SELECT COUNT(DISTINCT(Sno)), AVG(Grade) 

FROM SC

反思：

DISTINCT()是个函数，学会这种用法

9.查询选课门数超过2门的学生的平均成绩和选课门数

SELECT student.Sname, AVG(SC.Grade), COUNT(SC.Cno) AS course_num

FROM STUDENT

INNER JOIN SC

ON student.Sno=SC.Sno

GROUP BY SC.Sno

HAVING course_num > 2;  

反思：

SELECT COUNT(Cno) AS course_num

FROM SC

where course_num > 2

GROUP BY Sno;  -- misuse of aggregate: count() GROUP 和 WHERE 不能混用？

INNER JOIN 是比较运算符，只返回符合条件的行。

10.列出总成绩超过200分的学生,要求列出学号、总成绩

SELECT student.Sno, student.Sname, SUM(Grade) AS TOTAL_GRADE

FROM SC

INNER JOIN student

ON SC.Sno = student.Sno

GROUP BY SC.Sno

HAVING TOTAL_GRADE > 200;

11.查询选修了c02号课程的学生的姓名和所在系

SELECT student.Sname, student.Sdept

FROM student

INNER JOIN SC

ON student.Sno=SC.Sno

WHERE SC.Cno="C02";

12.查询成绩80分以上的学生的姓名、课程号和成绩,并按成绩的降序排列结果

SELECT student.Sname, SC.Cno, SC.Grade

FROM student

INNER JOIN SC

ON student.Sno=SC.Sno

WHERE SC.Grade>80

ORDER BY SC.Grade DESC;

13.查询计算机系男生修了"PYTHON"的学生的姓名、性别、成绩

特点：跨三个表的操作;

解法一： 

SELECT student.Sname, student.Ssex, SC.Grade

FROM Student

INNER JOIN SC ON (SC.Sno = student.Sno)

INNER JOIN course ON (SC.Cno = course.Cno)

WHERE student.Ssex='男' AND course.Cname='Python' AND

student.Sdept = '计算机';
解法二：

特点：显示出的数据来自两个表，所以不需要join三个表；

SELECT student.Sname, student.Ssex, SC.Grade

FROM Student

INNER JOIN SC ON SC.Sno=student.Sno

WHERE student.Ssex='男' AND

student.Sdept = '计算机' AND

SC.Cno IN (SELECT Cno FROM course WHERE Cname='Python');

解法三：

SELECT student.Sname, student.Ssex, SC.Grade

FROM Student

INNER JOIN SC ON Cno IN (SELECT Cno FROM course WHERE Cname='Python') AND SC.Sno=student.Sno

WHERE Ssex='男' AND Sdept = '计算机';

14.查询哪些学生的年龄相同,要求列出年龄相同的学生的姓名和年龄。

解法一：

SELECT Sname, Sage

FROM student

WHERE Sage IN

(SELECT Sage FROM student 

GROUP BY Sage Having COUNT(*) > 1)

ORDER BY Sage;

解法二：

--使用表的自连接，所以需要给表取两个别名，如A和B

SELECT A.Sname, A.Sage

FROM student A 

inner join student B ON A.Sage IN(SELECT Sage FROM student WHERE A.Sage=B.Sage AND A.Sname!=B.Sname)

GROUP BY A.Sname,A.Sage

ORDER BY A.Sage

反思：为什么要用表的自连接？

15.查询哪些课程没有人选,要求列出课程号和课程名。

SELECT course.Cno, course.Cname

FROM course, SC

WHERE course.Cno NOT IN (SELECT DISTINCT SC.Cno FROM SC);

-- 为什么没有显示理想的结果？ 应该改成 FROM course 或者

修改成 SELECT DISTINCT course.Cno, course.Cname 去重

正解：

-- 启示：FROM后面只跟SELECT需要的表？并不影响WHERE中调用多表操作；

SELECT course.Cno, course.Cname

FROM course

WHERE course.Cno NOT IN (SELECT DISTINCT SC.Cno FROM SC);

16.查询有考试成绩的所有学生的姓名、修课名称及考试成绩

--要求将查询结果放在一张新的永久表(假设新表名为new-sc)中。

CREATE TABLE "new-sc" AS

SELECT student.Sname, course.Cname, SC.Grade

FROM student, course, SC

WHERE SC.Grade IS NOT NULL AND student.Sno=SC.Sno AND SC.Cno=course.Cno;

反思：

1.这种做法和INNER JOIN 的区别是什么？

2.SQLite 复制到新表的方法，create table as，表名称带-的要加"".

17.分别查询信息系和计算机系的学生的姓名、性别、修课名称、修课成绩,

--并要求将这两个查询结果合并成一个结果集,

--并以系名、姓名、性别、修课名称、修课成绩的顺序显示各列。

错误解：

SELECT student.Sdept, Sname, Ssex, Cname, Grade

FROM student, course, SC

WHERE student.Sdept="计算机" OR student.Sdept='信息管理' AND student.Sno=SC.Sno AND course.Cno=SC.Cno;

反思：错误解的结果产生的逻辑是什么？ 应该改为

WHERE (student.Sdept="计算机" OR student.Sdept='信息管理') AND student.Sno=SC.Sno AND course.Cno=SC.Cno;

OR 和 AND 运算符的运算顺序是什么？

用INNER JOIN的解法：

思考：是SC与student以及SC与course之间的JOIN吗？因为student与course之间没有连接

INNER JOIN的内部逻辑是什么？

SELECT Sdept, Sname, Ssex, Cname, Grade

FROM SC

INNER JOIN student ON(SC.Sno=student.Sno)

INNER JOIN course ON(SC.Cno=course.Cno)

WHERE Sdept='计算机' OR Sdept='信息管理';

union的解法：

SELECT Sdept, Sname, Ssex, Cname, Grade

FROM SC

INNER JOIN student ON(SC.Sno=student.Sno)

INNER JOIN course ON(SC.Cno=course.Cno)

WHERE Sdept='计算机'

UNION

SELECT Sdept, Sname, Ssex, Cname, Grade

FROM SC

INNER JOIN student ON(SC.Sno=student.Sno)

INNER JOIN course ON(SC.Cno=course.Cno)

WHERE Sdept='信息管理';

18.用子查询实现如下查询:

--(1)    查询选修了C01号课程的学生的姓名和所在系。

SELECT Sname, Sdept

FROM student

WHERE Student.Sno IN (SELECT Sno FROM SC WHERE Cno='C01');

--(2)    查询数学系成绩80分以上的学生的学号、姓名。

SELECT Sno, Sname

FROM student

WHERE Sdept='金融' AND

Sno IN (SELECT Sno FROM SC WHERE Grade>80);

--(3)    查询计算机系学生所选的课程名.

特点：涉及三表的操作，多重嵌套的解法

本质：

只输出第二张表的数据，但却是根据第一张表来限定的，但两张表之间必须通过第三张表来联结

SELECT DISTINCT Cname

FROM course

WHERE Cno IN 

(SELECT Cno FROM SC WHERE Sno IN 

(SELECT Sno FROM student WHERE Sdept='计算机'));

19.将计算机系成绩高于80分的学生的修课情况插入到另一张表中,分两种情况实现：

--(1)    在插入数据过程中建表。

--SQLite不支持使用SELECT INTO插入数据的方法



--(2)    先建一个新表,然后再插入数据。

--创建表SC_Info2

错误尝试：

CREATE TABLE "SC_Info2" AS

SELECT Sname, course.Cname

FROM student, course

WHERE Sdept='计算机' AND course.cno IN (SELECT DISTINCT Cno FROM SC WHERE Grade>80) AND Sno IN (...)

反思：当涉及两个不相关的表时，如果之间没有JOIN会显示各自表符合的数据。

不建议采用这样的方式，因为两列数据之间并没有必然联系，只是人为将两者凑/限制成最终答案。

如例子：

SELECT Sname, course.Cname

FROM student, course

WHERE Sdept='计算机'

在Sname和Cname之间并不一定有对应关系，所以用JOIN的方式更加保险。

正确解：

CREATE TABLE "SC_Info2" AS

SELECT Sname, course.Cname

FROM SC

INNER JOIN student ON (student.sno=SC.sno)

INNER JOIN course ON (course.cno=SC.cno)

WHERE student.Sdept='计算机' AND

SC.grade>80;

20.删除修课成绩小于50分的学生的修课记录

DELETE FROM SC

WHERE Grade<50;

21.将所有选修了"c01"课程的学生的成绩加10分

UPDATE SC SET

Grade = Grade + 10

WHERE SC.Cno='C01';

疑问：

1.

SELECT DISTINCT Sno FROM SC 和

SELECT DISTINCT Sno, COUNT(*)

FROM SC

结果为什么不同？